<?xml version="1.0"?>
<config>
    <tabs>
        <inventory translate="label" module="inventory">
            <label>Inventory Module</label>
            <sort_order>300</sort_order>
        </inventory>
    </tabs>
    <sections>
        <inventory translate="label" module="inventory">
            <label>Inventory Configuration</label>
            <tab>inventory</tab>
            <frontend_type>text</frontend_type>
            <sort_order>99999</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <inventory_group>
                    <label>Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>60</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                    	<field1 translate="label">
                             <label>Field:</label>
                               <comment></comment>
                               <frontend_type>text</frontend_type>
			        <sort_order>10</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
                    	</field1>
                    </fields>
                </inventory_group>
            </groups>
        </inventory>
    </sections>
</config>
