<!--@subject Help Is On Its Way @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
}
@-->

<div style="border: 1px solid #CCCCCC; width:70%; padding:10px; margin:10px; color:#000000">
Hello {{var data.name}},<p/>

Thank you for your message. We love hearing from you, and will respond to your note within 24 hours. <p/>
While you wait, be sure to “Like” us on <strong><a href="https://www.facebook.com/CowgirlFashionAndLadiesWesternWear" title="facebook">FACEBOOK</a></strong> and be one of the first to learn about new arrivals and exclusive offers.<p/>
We look forward to speaking with you soon. <p/>
<p/>
Best Wishes, <p/>
Cowgirl Kim
<p/>
<a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a>
</div>
