<?xml version="1.0"?>
<config>
    <modules>
        <As_Constantcontact>
            <version>0.1.0</version>
        </As_Constantcontact>
    </modules>
    <frontend>
        <routers>
            <constantcontact>
                <use>standard</use>
                <args>
                    <module>As_Constantcontact</module>
                    <frontName>constantcontact</frontName>
                </args>
            </constantcontact>
        </routers>
        <layout>
            <updates>
                <constantcontact>
                    <file>constantcontact.xml</file>
                </constantcontact>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<constantcontact>
				<use>admin</use>
				<args>
					<module>As_Constantcontact</module>
					<frontName>constantcontact</frontName>
				</args>
			</constantcontact>
        </routers>
    </admin>
    <adminhtml>

		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<!--As_Constantcontact>
							<title>Constantcontact Module</title>
							<sort_order>10</sort_order>
						</As_Constantcontact>-->
						<constantcontact module="constantcontact">
							<children>
								<items module="constantcontact">
									<title>Manage Constantcontact</title>
									<sort_order>11</sort_order>
								</items>
							</children>
						</constantcontact>
						  <system>
                            <children>
                                <config>
                                    <children>
                                        <constantcontact>
                                            <title>Constantcontact Module</title>
                                        </constantcontact>
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<constantcontact>
					<file>constantcontact.xml</file>
				</constantcontact>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <constantcontact>
                <class>As_Constantcontact_Model</class>
                <resourceModel>constantcontact_mysql4</resourceModel>
            </constantcontact>
            <constantcontact_mysql4>
                <class>As_Constantcontact_Model_Mysql4</class>
                <entities>
                    <constantcontact>
                        <table>constantcontact</table>
                    </constantcontact>
                </entities>
            </constantcontact_mysql4>
        </models>
        <resources>
            <constantcontact_setup>
                <setup>
                    <module>As_Constantcontact</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </constantcontact_setup>
            <constantcontact_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </constantcontact_write>
            <constantcontact_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </constantcontact_read>
        </resources>
        <blocks>
            <constantcontact>
                <class>As_Constantcontact_Block</class>
            </constantcontact>
        </blocks>
        <helpers>
            <constantcontact>
                <class>As_Constantcontact_Helper</class>
            </constantcontact>
        </helpers>
    </global>
	<default>
		<constantcontact><!--section-->
			<constantcontact><!--group-->
				<model>constantcontact/constantcontact</model>
				<field1>Default Text</field1><!--field-->
			</constantcontact>
		</constantcontact>
	</default>
</config>
