<?xml version="1.0"?>
<config>
    <modules>
        <Cowgirlk_Paypal>
            <version>0.1.0</version>
        </Cowgirlk_Paypal>
    </modules>
    <global>
        <models>
            <paypal>
                <rewrite>
                    <ipn>Cowgirlk_Paypal_Model_Ipn</ipn>
                </rewrite>
            </paypal>
        </models>
    </global>
</config> 