<?xml version="1.0"?>
<config>
    <modules>
        <As_Brand>
            <version>0.1.0</version>
        </As_Brand>
    </modules>
    <frontend>
        <routers>
            <brand>
                <use>standard</use>
                <args>
                    <module>As_Brand</module>
                    <frontName>brand</frontName>
                </args>
            </brand>
        </routers>
        <layout>
            <updates>
                <brand>
                    <file>brand.xml</file>
                </brand>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
	<brand>
	<use>admin</use>
	<args>
	<module>As_Brand</module>
	<frontName>brand</frontName>
	</args>
	</brand>
        </routers>
    </admin>
    <adminhtml>
		<menu>
		<catalog>              
		<children>
		<brand module="brand">
		<title>Manage Brands</title>
		<sort_order>15</sort_order>
		<action>brand/adminhtml_brand</action>
		</brand>
		</children>
		</catalog>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<!--As_Brand>
							<title>Brand Module</title>
							<sort_order>10</sort_order>
						</As_Brand>-->
						<catalog>
							<children>
								<brand module="brand">
									<title>Manage Brand</title>
									<sort_order>11</sort_order>
								</brand>
							</children>
						</catalog>
						  <system>
                            <children>
                                <config>
                                    <children>
                                        <brand>
                                            <title>Brand Module</title>
                                        </brand>
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<brand>
					<file>brand.xml</file>
				</brand>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <brand>
                <class>As_Brand_Model</class>
                <resourceModel>brand_mysql4</resourceModel>
            </brand>
            <brand_mysql4>
                <class>As_Brand_Model_Mysql4</class>
                <entities>
                    <brand>
                        <table>brand</table>
                    </brand>
                </entities>
            </brand_mysql4>
        </models>
        <resources>
            <brand_setup>
                <setup>
                    <module>As_Brand</module>
		    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </brand_setup>
            <brand_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </brand_write>
            <brand_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </brand_read>
        </resources>
        <blocks>
            <brand>
                <class>As_Brand_Block</class>
            </brand>
			
		<!--catalog>
			<rewrite>
				<product_list_toolbar>As_Brand_Block_Product_List_Toolbar</product_list_toolbar>
			</rewrite>
		</catalog-->
			
        </blocks>
        <helpers>
            <brand>
                <class>As_Brand_Helper</class>
            </brand>
        </helpers>
		
	<rewrite>
            <brand_index_index>
                <from>#^/brands\.html/*#</from>
                <to>/brand/index/index/</to>
                <complete>1</complete>
            </brand_index_index>
            <brand_index_viewproducts>
                <from>#^/brands/([A-Za-z0-9\-\_]+)\.html/*#</from>
                <to>/brand/index/viewProducts/identifier/$1</to>
		<complete>1</complete>
            </brand_index_viewproducts>
        </rewrite>
		

	
    </global>
	<default>
		<brand><!--section-->
			<brand><!--group-->
				<model>brand/brand</model>
				<url_suffix>.html</url_suffix><!--field-->
			</brand>
		</brand>
	</default>
</config>
