<?xml version="1.0"?>
<config>
    <modules>
        <As_Topmenu>
            <version>0.1.0</version>
        </As_Topmenu>
    </modules>
    <frontend>
        <routers>
            <topmenu>
                <use>standard</use>
                <args>
                    <module>As_Topmenu</module>
                    <frontName>topmenu</frontName>
                </args>
            </topmenu>
        </routers>
        <layout>
            <updates>
                <topmenu>
                    <file>topmenu.xml</file>
                </topmenu>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<topmenu>
				<use>admin</use>
				<args>
					<module>As_Topmenu</module>
					<frontName>topmenu</frontName>
				</args>
			</topmenu>
        </routers>
    </admin>
    <adminhtml>
		
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<!--As_Topmenu>
							<title>Topmenu Module</title>
							<sort_order>10</sort_order>
						</As_Topmenu>-->
						<topmenu module="topmenu">
							<children>
								<items module="topmenu">
									<title>Manage Topmenu</title>
									<sort_order>11</sort_order>
								</items>
							</children>
						</topmenu>
						  <system>
                            <children>
                                <config>
                                    <children>
                                        <topmenu>
                                            <title>Topmenu Module</title>
                                        </topmenu>
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<topmenu>
					<file>topmenu.xml</file>
				</topmenu>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <topmenu>
                <class>As_Topmenu_Model</class>
                <resourceModel>topmenu_mysql4</resourceModel>
            </topmenu>
            <topmenu_mysql4>
                <class>As_Topmenu_Model_Mysql4</class>
                <entities>
                    <topmenu>
                        <table>topmenu</table>
                    </topmenu>
                </entities>
            </topmenu_mysql4>
        </models>
        <resources>
            <topmenu_setup>
                <setup>
                    <module>As_Topmenu</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </topmenu_setup>
            <topmenu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </topmenu_write>
            <topmenu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </topmenu_read>
        </resources>
        <blocks>
            <topmenu>
                <class>As_Topmenu_Block</class>
            </topmenu>
            <page>
            <rewrite>
                    <html_topmenu>As_Topmenu_Block_Topmenu</html_topmenu>
            </rewrite>
            </page>
        </blocks>
        <helpers>
            <topmenu>
                <class>As_Topmenu_Helper</class>
            </topmenu>
        </helpers>
    </global>
</config>
